@import 'styles/variaveis';
@import 'styles/breakpoints';

.header {
    height: 300px;
    background-image: url('/assets/cardapio/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px $padding-horizontal;
    @media (max-width: $desktop_xsm) {
      padding: 0px $padding-horizontal-mobile;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
      padding: 0px $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
      padding: 0px $padding-horizontal-md;
    }

    &__img {
        max-width: 1120px;
        height: 100%;
        margin:0 auto;
        display: flex;
        align-items: center;

        .header__text {
            padding:0 $padding-horizontal;;
            width: 70%;
            color:#fff;
            font-size: 4rem;
            font-weight: 600;
            @media (max-width: $mobile){
              width:100%;
              font-size: 3rem;
            }
            @media (max-width: 350px){
              width:100%;
              font-size: 2.4rem;
            }
        }
    }
}